@font-face {
    font-family: 'Mulish'; /* El nombre que desees para la fuente */
    src: url('assets/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf') format('ttf'); /* Ruta al archivo de la fuente */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    font-family: 'Young Serif', serif;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-family: Mulish;
}

.checkbox {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
